<!doctype html>

<html>
	<head>
		<meta charset='utf-8'>
		<title>{% block title %}在线实验报告管理系统 {% endblock %}</title>
		<link rel='stylesheet' href='{{ STATIC_URL }}css/bootstrap.css'/>
		<script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap.js'></script>
	</head>
	<body class='{% block body_class %} {% endblock %}' style='padding: 70px'>
		<div class='navbar navbar-inverse navbar-fixed-top'>
			<div class='container'>
				<div class='navbar-header'>
					<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<a class='navbar-brand' href='#'>实验报告在线提交系统</a>
				</div>
				{% include "login_form.html" %}
			</div>
		</div>
		{% block body %}
		{% endblock %}
	</body>
</html>
