{% if user.is_authenticated %}
<!-- 登陆成功后跳转到本页, POST关键字有username及password -->
<ul class="nav nav-pills pull-right">
    <li class="active"><a href="">{{ username }}</a></li> 
    <li><a href="{% url 'teacher_logout' %}">登出</a></li>                         
</ul>
{% else %}
    <form  class="navbar-form navbar-right" action="{% url 'teacher_dashboard'%}" method="POST">   
        {% csrf_token %}
	    <div class="form-group">
		    <input type="text" name="username" placeholder="帐号" class="form-control">
        </div>
	    <div class="form-group">
    	    <input type="password" name="password" placeholder="密码" class="form-control">
	    </div>
        <button type="submit" class="btn btn-success">登录</button>  
        <a href="" class="btn btn-success" role="button">注册</a>  
    </form>
{% endif %}
